@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* reset */
*{margin:0; padding:0;}
li{list-style-type:none;}
a{text-decoration:none;color:inherit;}
img{display:block;}
body{font-size:16px; line-height:1.6; color:#555; font-family: 'Rajdhani', sans-serif;}
html{width:100%;}

h1{position:fixed; top:50px; left:50px; z-index:10;}
h2{position:absolute; z-index:1; top:70%; left:50%; transform:translate(-50%, -50%)}
h1 img{width:100px;}
/* sns */
.sns{position:fixed; top:40px; right:50px; z-index:14;}
.sns li{float:left; margin-left:20px;}
.sns li i {font-size:25px; color:#111; transition:.5s; color:#94732C;}
.sns li:hover i {transform:scale(1.5);}

/* menu */
.menu{position:fixed; top:40%; left:0;margin-top:-100px;z-index:13;}
.menu a{display:block; width:200px; height:50px; font-family:'Rajdhani'; font-size:16px; color:#4b4b4b; text-align:right; overflow:hidden; box-sizing:border-box; border-top:1px solid #4b4b4b; opacity:.8; transition:.5s;}
.menu li:hover a {font-size:24px; font-weight: bold; border-top:3px solid #4b4b4b;}
.menu li.on a {font-size:24px; opacity:1; font-weight:700;}

.menu li:nth-child(1):hover a{color:#000;border-color:#000; border-top:3px solid #000;}
.menu li:nth-child(2):hover a{color:#A20303;border-color:#A20303;}
.menu li:nth-child(3):hover a{color:#61859B;border-color:#61859B;}
.menu li:nth-child(4):hover a{color:#3A6A46;border-color:#3A6A46;}
.menu li:nth-child(5):hover a{color:#94732C;border-color:#94732C;}

.menu li:nth-child(1).on a{color:#000;border-color:#000; border-top:3px solid #000;}
.menu li:nth-child(2).on a{color:#A20303;border-color:#A20303;border-top:3px solid #A20303;}
.menu li:nth-child(3).on a{color:#61859B;border-color:#61859B; border-top:3px solid #61859B;}
.menu li:nth-child(4).on a{color:#3A6A46;border-color:#3A6A46;border-top:3px solid #3A6A46;}
.menu li:nth-child(5).on a{color:#94732C;border-color:#94732C; border-top:3px solid #94732C;}

/* layout */
section{
  width:100%; height:100vh; position:relative; background-size:cover; background-position:right-center;background-attachment:fixed; overflow:hidden;
}

section:nth-child(1){ background-image:url(../img/main.jpg);}
section:nth-child(2){ background-image:url(../img/karina.jpg);}
section:nth-child(3){ background-image:url(../img/GISELLE_1.jpg);}
section:nth-of-type(4){ background-image:url(../img/ningning.jpg);}
section:nth-of-type(5){ background-image:url(../img/winter.jpg);}

section article {
  position:absolute; top:46%; left:300px; z-index:11;
}

section article p{
  font-size:55px; letter-spacing:2px; line-height:1;
}
section article span{
  display:block; 
  font-size:20px; width:500px;
}


section:nth-child(2) article> p,section:nth-child(2) article> span{color:#A20303;}
section:nth-child(3) article> p, section:nth-child(3) article> span{color:#61859B;}
section:nth-child(4) article> p, section:nth-child(4) article> span{color:#3A6A46;}
section:nth-child(5) article> p, section:nth-child(5) article> span{color:#94732C;}
/* 첫번째 박스 */
.p11 { position:absolute; bottom:0; right:0; width:1700px;}
.p12 { position:absolute; bottom:0; right:0; }
.main_snake {width:750px; position:absolute; top:-50px; left:300px; rotate:calc(168deg);}
/* .main_snake{} */

/* 두번째 박스 */
.p21 { position:absolute; width:1920px;}
.p22 { position:absolute; width:1080px; bottom:0;}
.snake1 { position:absolute; top:180px; right:60px; width:530px;}
/* 세번째 박스 */
.p31 { position:absolute; width:1920px;}
.p32 { position:absolute; width:1080px; right:0;}
.snake2 { position:absolute; bottom:-200px; left:-500px; width:1000px;}
/* 네번째 박스 */
.p41 { position:absolute; width:1920px;}
.p42 { position:absolute; width:1080px; right:0; bottom:0;}
.snake3 { position:absolute; bottom:50px; right:-500px; width:1000px;}
/* 다섯번째 박스 */
.p51 { position:absolute; right:180px;}
.p52 { position:absolute; bottom:-27px; right:110px;}
.snake4 { position:absolute; width:500px; left:10px; bottom:10px;}